In [226]:
#import appropriate packages

import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import time
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.inspection import permutation_importance
start = time.time()
import numpy
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from matplotlib import pyplot
from sklearn.model_selection import GridSearchCV
import matplotlib.pyplot as plt
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, ConfusionMatrixDisplay
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.preprocessing import PowerTransformer
from sklearn.ensemble import StackingClassifier
from sklearn.model_selection import cross_val_score as cvs
from sklearn.model_selection import StratifiedShuffleSplit

#deep learning
from tensorflow.keras import layers
from tensorflow.keras import models
from keras.callbacks import EarlyStopping
import torch
from torch import nn
from pytorch_tabnet.tab_model import TabNetClassifier
from sklearn.impute import SimpleImputer

# ETL

# Dataset 1 - COLET

In [227]:
#obtain wd - note all folders/files will need to be in here 

path = os.getcwd()
files = os.listdir()
files

['.ipynb_checkpoints',
 '10.csv',
 '11.csv',
 '12.csv',
 '13.csv',
 '14.csv',
 '15.csv',
 '16.csv',
 '17.csv',
 '2.csv',
 '20.csv',
 '21.csv',
 '22.csv',
 '23.csv',
 '24.csv',
 '25.csv',
 '26.csv',
 '27.csv',
 '28.csv',
 '29.csv',
 '3.csv',
 '30.csv',
 '31.csv',
 '32.csv',
 '33.csv',
 '34.csv',
 '35.csv',
 '36.csv',
 '37.csv',
 '38.csv',
 '39.csv',
 '4.csv',
 '40.csv',
 '41.csv',
 '42.csv',
 '43.csv',
 '44.csv',
 '45.csv',
 '46.csv',
 '47.csv',
 '48.csv',
 '49.csv',
 '5.csv',
 '50.csv',
 '51.csv',
 '52.csv',
 '53.csv',
 '54.csv',
 '55.csv',
 '56.csv',
 '57.csv',
 '58.csv',
 '59.csv',
 '6.csv',
 '60.csv',
 '61.csv',
 '62.csv',
 '63.csv',
 '64.csv',
 '65.csv',
 '66.csv',
 '67.csv',
 '68.csv',
 '69.csv',
 '7.csv',
 '8.csv',
 '9.csv',
 'Archive',
 'Cognitive Workload Detection approach 2.ipynb',
 'Cognitive Workload Detection.ipynb',
 'copy of for testing SIT724v3.ipynb',
 'data load cognitive workload detection',
 'data_load.ipynb',
 'fixation_finale.txt',
 'model_checkpoints',
 'Task1_Subject_1.xlsx',
 'Task1_Subject_10.xlsx',
 'Task1_Subject_11.xlsx',
 'Task1_Subject_12.xlsx',
 'Task1_Subject_13.xlsx',
 'Task1_Subject_14.xlsx',
 'Task1_Subject_15.xlsx',
 'Task1_Subject_16.xlsx',
 'Task1_Subject_17.xlsx',
 'Task1_Subject_18.xlsx',
 'Task1_Subject_19.xlsx',
 'Task1_Subject_2.xlsx',
 'Task1_Subject_20.xlsx',
 'Task1_Subject_21.xlsx',
 'Task1_Subject_22.xlsx',
 'Task1_Subject_23.xlsx',
 'Task1_Subject_24.xlsx',
 'Task1_Subject_25.xlsx',
 'Task1_Subject_26.xlsx',
 'Task1_Subject_27.xlsx',
 'Task1_Subject_28.xlsx',
 'Task1_Subject_29.xlsx',
 'Task1_Subject_3.xlsx',
 'Task1_Subject_30.xlsx',
 'Task1_Subject_31.xlsx',
 'Task1_Subject_32.xlsx',
 'Task1_Subject_33.xlsx',
 'Task1_Subject_34.xlsx',
 'Task1_Subject_35.xlsx',
 'Task1_Subject_36.xlsx',
 'Task1_Subject_37.xlsx',
 'Task1_Subject_38.xlsx',
 'Task1_Subject_39.xlsx',
 'Task1_Subject_4.xlsx',
 'Task1_Subject_40.xlsx',
 'Task1_Subject_41.xlsx',
 'Task1_Subject_42.xlsx',
 'Task1_Subject_43.xlsx',
 'Task1_Subject_44.xlsx',
 'Task1_Subject_5.xlsx',
 'Task1_Subject_6.xlsx',
 'Task1_Subject_7.xlsx',
 'Task1_Subject_8.xlsx',
 'Task1_Subject_9.xlsx']

In [223]:
#extract all excel files 

#IMPORTANT - MAKE SURE THE COLUMN HEADERS IN THE FIRST FILE ARE ALL THERE OTHERWISE THERE WILL BE ISSUES LATER ON!

files_xlsx = [f for f in files if f[-4:] == 'xlsx']
files_xlsx

['Task1_Subject_1.xlsx',
 'Task1_Subject_10.xlsx',
 'Task1_Subject_11.xlsx',
 'Task1_Subject_12.xlsx',
 'Task1_Subject_13.xlsx',
 'Task1_Subject_14.xlsx',
 'Task1_Subject_15.xlsx',
 'Task1_Subject_16.xlsx',
 'Task1_Subject_17.xlsx',
 'Task1_Subject_18.xlsx',
 'Task1_Subject_19.xlsx',
 'Task1_Subject_2.xlsx',
 'Task1_Subject_20.xlsx',
 'Task1_Subject_21.xlsx',
 'Task1_Subject_22.xlsx',
 'Task1_Subject_23.xlsx',
 'Task1_Subject_24.xlsx',
 'Task1_Subject_25.xlsx',
 'Task1_Subject_26.xlsx',
 'Task1_Subject_27.xlsx',
 'Task1_Subject_28.xlsx',
 'Task1_Subject_29.xlsx',
 'Task1_Subject_3.xlsx',
 'Task1_Subject_30.xlsx',
 'Task1_Subject_31.xlsx',
 'Task1_Subject_32.xlsx',
 'Task1_Subject_33.xlsx',
 'Task1_Subject_34.xlsx',
 'Task1_Subject_35.xlsx',
 'Task1_Subject_36.xlsx',
 'Task1_Subject_37.xlsx',
 'Task1_Subject_38.xlsx',
 'Task1_Subject_39.xlsx',
 'Task1_Subject_4.xlsx',
 'Task1_Subject_40.xlsx',
 'Task1_Subject_41.xlsx',
 'Task1_Subject_42.xlsx',
 'Task1_Subject_43.xlsx',
 'Task1_Subject_44.xlsx',
 'Task1_Subject_5.xlsx',
 'Task1_Subject_6.xlsx',
 'Task1_Subject_7.xlsx',
 'Task1_Subject_8.xlsx',
 'Task1_Subject_9.xlsx']

# Creating dataframes for the COLET dataset. Reading them in by tab within file (had to manually create these spreadsheets from the original matlab file). Looping through to do this

In [224]:
#blank dataframe to write to 
#we need one of these for each record type (i.e. 16) otherwise we are appending to differing columns
c_gaze_task1 = pd.DataFrame()
c_gaze_task2 = pd.DataFrame()
c_gaze_task3 = pd.DataFrame()
c_gaze_task4 = pd.DataFrame()
c_pupil_task1 = pd.DataFrame()
c_pupil_task2 = pd.DataFrame()
c_pupil_task3 = pd.DataFrame()
c_pupil_task4 = pd.DataFrame()
c_blinks_task1 = pd.DataFrame()
c_blinks_task2 = pd.DataFrame()
c_blinks_task3 = pd.DataFrame()
c_blinks_task4 = pd.DataFrame()
c_annotation_task1 = pd.DataFrame()
c_annotation_task2 = pd.DataFrame()
c_annotation_task3 = pd.DataFrame()
c_annotation_task4 = pd.DataFrame()

In [225]:
# empty list
df_cg1 = []  

#loop to write files to dataframe
for f in files_xlsx:
    data1 = pd.read_excel(f, sheet_name=0)
    data1['file'] = f
    df_cg1.append(data1)

# Concatenate the list of DataFrames into a single DataFrame
c_gaze_task1 = pd.concat(df_cg1)

KeyboardInterrupt

In [ ]:
# empty list
df_cg2 = []  

#loop to write files to dataframe
for f in files_xlsx:
    data2 = pd.read_excel(f, sheet_name = 1)
    data2['file'] = f
    df_cg2.append(data2)

# Concatenate the list of DataFrames into a single DataFrame
c_gaze_task2 = pd.concat(df_cg2)

In [ ]:
# empty list
df_cg3 = []  

#loop to write files to dataframe
for f in files_xlsx:
    data3 = pd.read_excel(f, sheet_name = 2)
    data3['file'] = f
    df_cg3.append(data3)

# Concatenate the list of DataFrames into a single DataFrame
c_gaze_task3 = pd.concat(df_cg3)

In [ ]:
# empty list
df_cg4 = []  

#loop to write files to dataframe
for f in files_xlsx:
    data4 = pd.read_excel(f, sheet_name = 3)
    data4['file'] = f
    df_cg4.append(data4)

# Concatenate the list of DataFrames into a single DataFrame
c_gaze_task4 = pd.concat(df_cg4)

In [ ]:
# empty list
df_cpt1 = []  

#loop to write files to dataframe
for f in files_xlsx:
    data5 = pd.read_excel(f, sheet_name = 4)
    data5['file'] = f
    df_cpt1.append(data5)

# Concatenate the list of DataFrames into a single DataFrame
c_pupil_task1 = pd.concat(df_cpt1)

In [ ]:
# empty list
df_cpt2 = []  

#loop to write files to dataframe
for f in files_xlsx:
    data6 = pd.read_excel(f, sheet_name = 5)
    data6['file'] = f
    df_cpt2.append(data6)

# Concatenate the list of DataFrames into a single DataFrame
c_pupil_task2 = pd.concat(df_cpt2)

In [ ]:
# empty list
df_cpt3 = []  

#loop to write files to dataframe
for f in files_xlsx:
    data7 = pd.read_excel(f, sheet_name = 6)
    data7['file'] = f
    df_cpt3.append(data7)

# Concatenate the list of DataFrames into a single DataFrame
c_pupil_task3 = pd.concat(df_cpt3)

In [ ]:
# empty list
df_cpt4 = []  

#loop to write files to dataframe
for f in files_xlsx:
    data8 = pd.read_excel(f, sheet_name = 7)
    data8['file'] = f
    df_cpt4.append(data8)

# Concatenate the list of DataFrames into a single DataFrame
c_pupil_task4 = pd.concat(df_cpt4)

In [ ]:
# empty list
df_bt1 = []  

#loop to write files to dataframe
for f in files_xlsx:
    data9 = pd.read_excel(f, sheet_name = 8)
    data9['file'] = f
    df_bt1.append(data9)

# Concatenate the list of DataFrames into a single DataFrame
c_blinks_task1 = pd.concat(df_bt1)

In [ ]:
# empty list
df_bt2 = []  

#loop to write files to dataframe
for f in files_xlsx:
    data10 = pd.read_excel(f, sheet_name = 9)
    data10['file'] = f
    df_bt2.append(data10)

# Concatenate the list of DataFrames into a single DataFrame
c_blinks_task2 = pd.concat(df_bt2)

In [ ]:
# empty list
df_bt3 = []  

#loop to write files to dataframe
for f in files_xlsx:
    data11 = pd.read_excel(f, sheet_name = 10)
    data11['file'] = f
    df_bt3.append(data11)

# Concatenate the list of DataFrames into a single DataFrame
c_blinks_task3 = pd.concat(df_bt3)

In [ ]:
# empty list
df_bt4 = []  

#loop to write files to dataframe
for f in files_xlsx:
    data12 = pd.read_excel(f, sheet_name = 11)
    data12['file'] = f
    df_bt4.append(data12)

# Concatenate the list of DataFrames into a single DataFrame
c_blinks_task4 = pd.concat(df_bt4)

In [ ]:
# empty list
df_at1 = []  

#loop to write files to dataframe
for f in files_xlsx:
    data13 = pd.read_excel(f, sheet_name = 12)
    data13['file'] = f
    df_at1.append(data13)

# Concatenate the list of DataFrames into a single DataFrame
c_annotation_task1 = pd.concat(df_at1)

In [ ]:
# empty list
df_at2 = []  

#loop to write files to dataframe
for f in files_xlsx:
    data14 = pd.read_excel(f, sheet_name = 13)
    data14['file'] = f
    df_at2.append(data14)

# Concatenate the list of DataFrames into a single DataFrame
c_annotation_task2 = pd.concat(df_at2)

In [ ]:
# empty list
df_at3 = []  

#loop to write files to dataframe
for f in files_xlsx:
    data15 = pd.read_excel(f, sheet_name = 14)
    data15['file'] = f
    df_at3.append(data15)

# Concatenate the list of DataFrames into a single DataFrame
c_annotation_task3 = pd.concat(df_at3)

In [ ]:
# empty list
df_at4 = []  

#loop to write files to dataframe
for f in files_xlsx:
    data16 = pd.read_excel(f, sheet_name = 15)
    data16['file'] = f
    df_at4.append(data16)

# Concatenate the list of DataFrames into a single DataFrame
c_annotation_task4 = pd.concat(df_at4)

In [ ]:
#check that the naming has worked
print(c_gaze_task1['file'].unique())

In [ ]:
#adding a task column to each one before joining together
#suffix _dl is to denote 'deep learning' i.e. the larger deep learning dataset

#code seems to be updating the original dataframe, am saving these instead
c_gaze_task1_dl = c_gaze_task1
c_gaze_task2_dl = c_gaze_task2
c_gaze_task3_dl = c_gaze_task3
c_gaze_task4_dl = c_gaze_task4
c_pupil_task1_dl = c_pupil_task1
c_pupil_task2_dl = c_pupil_task2
c_pupil_task3_dl = c_pupil_task3
c_pupil_task4_dl = c_pupil_task4
c_blinks_task1_dl = c_blinks_task1
c_blinks_task2_dl = c_blinks_task2
c_blinks_task3_dl = c_blinks_task3
c_blinks_task4_dl = c_blinks_task4
c_annotation_task1_dl = c_annotation_task1
c_annotation_task2_dl = c_annotation_task2
c_annotation_task3_dl = c_annotation_task3
c_annotation_task4_dl = c_annotation_task4

#adding a task identifier to each. Authors have manipulated levels of cognitive workload using task, so we need to know which data refers to which task
c_gaze_task1_dl['task'] = '1'
c_gaze_task2_dl['task'] = '2'
c_gaze_task3_dl['task'] = '3'
c_gaze_task4_dl['task'] = '4'
c_pupil_task1_dl['task'] = '1'
c_pupil_task2_dl['task'] = '2'
c_pupil_task3_dl['task'] = '3'
c_pupil_task4_dl['task'] = '4'
c_blinks_task1_dl['task'] = '1'
c_blinks_task2_dl['task'] = '2'
c_blinks_task3_dl['task'] = '3'
c_blinks_task4_dl['task'] = '4'
c_annotation_task1_dl['task'] = '1'
c_annotation_task2_dl['task'] = '2'
c_annotation_task3_dl['task'] = '3'
c_annotation_task4_dl['task'] = '4'

In [ ]:
c_gaze_task4_dl

# Creating a larger dataset for the COLET data

In [ ]:
#concatenate all of the annotations together
annot_concat = pd.concat([c_annotation_task1_dl, c_annotation_task2_dl, c_annotation_task3_dl, c_annotation_task4_dl], ignore_index=True)
gaze_concat = pd.concat([c_gaze_task1_dl, c_gaze_task2_dl, c_gaze_task3_dl, c_gaze_task4_dl], ignore_index=True)
pupil_concat = pd.concat([c_pupil_task1_dl, c_pupil_task2_dl, c_pupil_task3_dl, c_pupil_task4_dl], ignore_index=True)
blink_concat = pd.concat([c_blinks_task1_dl, c_blinks_task2_dl, c_blinks_task3_dl, c_blinks_task4_dl], ignore_index=True)

In [ ]:
print(annot_concat)

In [ ]:
print(gaze_concat)

In [ ]:
#08/06/2024 testing removing strata to instead use entire COLET dataset. Believe that dropping unused dataframes will allow for enough memory for this.

In [ ]:
#stratifying by participants - the dataframe below is way too big to handle, so having to trim it a bit 

#set stratified random sampling, note we are maintaining 60%, by 'file (e.g. participant)'


#////////////////////////////testing removal of this, and isntead focusing on one big dataframe//////////////////////////////////////////

#srs = StratifiedShuffleSplit(n_splits=1, test_size = 0.6, random_state = 69)

#gaze

#_, indices = next(srs.split(gaze_concat, gaze_concat['file']))
#gaze_concat = gaze_concat.iloc[indices[:int(0.6 * len(indices))]]

#pupil
#_, indices = next(srs.split(pupil_concat, pupil_concat['file']))
#pupil_concat = pupil_concat.iloc[indices[:int(0.6 * len(indices))]]

#blink
#_, indices = next(srs.split(blink_concat, blink_concat['file']))
#blink_concat = blink_concat.iloc[indices[:int(0.6 * len(indices))]]

In [ ]:
#convert to float 16 to save on memory within the blink_concat dataframe

blink_concat['duration'] = blink_concat['duration'].astype('float16')
blink_concat['confidence'] = blink_concat['confidence'].astype('float16')
blink_concat['start_timestamp'] = blink_concat['start_timestamp'].astype('float16')
blink_concat['end_timestamp'] = blink_concat['end_timestamp'].astype('float16')

print(blink_concat.dtypes)

In [ ]:
#convert to float 16 to save on memory within the gaze_concat dataframe
#saving space by converting to float 16, dataset is enormous 
gaze_concat['gaze_timestamp'] = gaze_concat['gaze_timestamp'].astype('float16')
gaze_concat['confidence'] = gaze_concat['confidence'].astype('float16')
gaze_concat['norm_pos_x'] = gaze_concat['norm_pos_x'].astype('float16')
gaze_concat['norm_pos_y'] = gaze_concat['norm_pos_y'].astype('float16')
gaze_concat['gaze_point_3d_x'] = gaze_concat['gaze_point_3d_x'].astype('float16')
gaze_concat['gaze_point_3d_y'] = gaze_concat['gaze_point_3d_y'].astype('float16')
gaze_concat['gaze_point_3d_z'] = gaze_concat['gaze_point_3d_z'].astype('float32')
gaze_concat['eye_center0_3d_x'] = gaze_concat['eye_center0_3d_x'].astype('float16')
gaze_concat['eye_center0_3d_y'] = gaze_concat['eye_center0_3d_y'].astype('float16')
gaze_concat['eye_center0_3d_z'] = gaze_concat['eye_center0_3d_z'].astype('float16')
gaze_concat['gaze_normal0_x'] = gaze_concat['gaze_normal0_x'].astype('float16')
gaze_concat['gaze_normal0_y'] = gaze_concat['gaze_normal0_y'].astype('float16')
gaze_concat['gaze_normal0_z'] = gaze_concat['gaze_normal0_z'].astype('float16')

print(gaze_concat.dtypes)

In [ ]:
#convert to float 16 to save on memory within the pupil_concat dataframe
#saving space by converting to float 16, dataset is enormous 
pupil_concat['pupil_timestamp'] = pupil_concat['pupil_timestamp'].astype('float16')
pupil_concat['confidence'] = pupil_concat['confidence'].astype('float16')
pupil_concat['norm_pos_x'] = pupil_concat['norm_pos_x'].astype('float16')
pupil_concat['diameter'] = pupil_concat['diameter'].astype('float16')
pupil_concat['ellipse_center_x'] = pupil_concat['ellipse_center_x'].astype('float16')
pupil_concat['ellipse_center_y'] = pupil_concat['ellipse_center_y'].astype('float16')
pupil_concat['ellipse_axis_a'] = pupil_concat['ellipse_axis_a'].astype('float16')
pupil_concat['ellipse_axis_b'] = pupil_concat['ellipse_axis_b'].astype('float16')
pupil_concat['ellipse_angle'] = pupil_concat['ellipse_angle'].astype('float16')
pupil_concat['diameter_3d'] = pupil_concat['diameter_3d'].astype('float16')
pupil_concat['model_confidence'] = pupil_concat['model_confidence'].astype('float16')
pupil_concat['model_id'] = pupil_concat['model_id'].astype('float16')
pupil_concat['sphere_center_x'] = pupil_concat['sphere_center_x'].astype('float16')
pupil_concat['sphere_center_y'] = pupil_concat['sphere_center_y'].astype('float16')
pupil_concat['sphere_center_z'] = pupil_concat['sphere_center_z'].astype('float16')
pupil_concat['sphere_radius'] = pupil_concat['sphere_radius'].astype('float16')
pupil_concat['circle_3d_center_x'] = pupil_concat['circle_3d_center_x'].astype('float16')
pupil_concat['circle_3d_center_y'] = pupil_concat['circle_3d_center_y'].astype('float16')
pupil_concat['circle_3d_center_z'] = pupil_concat['circle_3d_center_z'].astype('float16')
pupil_concat['circle_3d_normal_x'] = pupil_concat['circle_3d_normal_x'].astype('float16')
pupil_concat['circle_3d_center_y'] = pupil_concat['circle_3d_center_y'].astype('float16')
pupil_concat['circle_3d_normal_z'] = pupil_concat['circle_3d_normal_z'].astype('float16')
pupil_concat['circle_3d_radius'] = pupil_concat['circle_3d_radius'].astype('float16')
pupil_concat['theta'] = pupil_concat['theta'].astype('float16')
pupil_concat['phi'] = pupil_concat['phi'].astype('float16')
pupil_concat['projected_sphere_center_x'] = pupil_concat['projected_sphere_center_x'].astype('float16')
pupil_concat['projected_sphere_center_y'] = pupil_concat['projected_sphere_center_y'].astype('float16')
pupil_concat['projected_sphere_axis_a'] = pupil_concat['projected_sphere_axis_a'].astype('float16')

print(pupil_concat.dtypes)

In [ ]:
#doing this as one large dataframe instead 

#deep_data = pd.concat([annot_concat, gaze_concat, pupil_concat, blink_concat],ignore_index = True)

In [ ]:
# List of dataframes to be merged
dataframes = [gaze_concat, pupil_concat, blink_concat]

# Drop 20% of each dataframe by 'file' and 'task'
for df in dataframes:
    unique_files_tasks = df[['file', 'task']].drop_duplicates()
    files_tasks_to_drop = unique_files_tasks.sample(frac=0.3, random_state=42)
    filter_condition = ~df.set_index(['file', 'task']).index.isin(files_tasks_to_drop.set_index(['file', 'task']).index)
    df.drop(df[filter_condition].index, inplace=True)

In [ ]:
# List of dataframes to be merged
dataframes = [gaze_concat, pupil_concat, blink_concat]

# Split the dataframes into smaller subsets
chunk_size = 2  
chunks = [dataframes[i:i + chunk_size] for i in range(0, len(dataframes), chunk_size)]

# Merge the dataframes iteratively
merged_chunks = []
for chunk in chunks:
    merged_chunk = chunk[0]
    for df in chunk[1:]:
        merged_chunk = pd.merge(merged_chunk, df, on=['file', 'task'], how='outer', suffixes=('_left', '_right'))
    merged_chunks.append(merged_chunk)

# Concatenate the merged chunks
deep_data = pd.concat(merged_chunks)

# Merge with annot_concat separately
deep_data = pd.merge(deep_data, annot_concat, on=['file', 'task'], how='left', suffixes=('_merged', '_annot'))

In [ ]:
print(deep_data)

In [ ]:
deep_data.to_csv('colet_deep_learning_data.csv', index = False)

## MLA

# Dataset 2

In [235]:
#fixations
#mla for machine learning approach

mla_fixations = pd.read_excel(r'D:\Deakin\SIT724\Data Set\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\Fixation_report_09092019\fixation_finale.xlsx')
#mla_fixations = pd.read_excel(r'D:\TOTALE_Fixation_Report_FINALE_090919.xlsx')

In [236]:
#count of fixations by task by participant
mla_fixations_1 = mla_fixations.loc[mla_fixations['TRIAL_INDEX'] == 1]
mla_fixations_1 = mla_fixations_1.drop('TRIAL_INDEX', axis=1)
mla_fixations_2 = mla_fixations.loc[mla_fixations['TRIAL_INDEX'] == 2]
mla_fixations_2 = mla_fixations_2.drop('TRIAL_INDEX', axis=1)
mla_fixations_3 = mla_fixations.loc[mla_fixations['TRIAL_INDEX'] == 3]
mla_fixations_3 = mla_fixations_3.drop('TRIAL_INDEX', axis=1)
mla_fixations_4 = mla_fixations.loc[mla_fixations['TRIAL_INDEX'] == 4]
mla_fixations_4 = mla_fixations_4.drop('TRIAL_INDEX', axis=1)

In [237]:
#saving a copy to use for the deep learning model later

mla_fixations_1_deep = mla_fixations_1
mla_fixations_1_deep['task']='1'

mla_fixations_2_deep = mla_fixations_2
mla_fixations_2_deep['task']='2'  

mla_fixations_3_deep = mla_fixations_3
mla_fixations_3_deep['task']='3'

mla_fixations_4_deep = mla_fixations_4
mla_fixations_4_deep['task']='4'  

mla_fixations_deep = pd.concat([mla_fixations_1_deep, mla_fixations_2_deep,mla_fixations_3_deep, mla_fixations_4_deep ], ignore_index=True)

In [238]:
mla_fixations_deep.drop('image', axis=1, inplace=True)

In [239]:
mla_fixations_deep

,RECORDING_SESSION_LABEL,CURRENT_FIX_DURATION,CURRENT_FIX_INTEREST_AREAS,CURRENT_FIX_X,CURRENT_FIX_Y,CURRENT_FIX_START,CURRENT_FIX_PUPIL,experiment,task
0,10,190,[ 11],519.5,410.2,10,423,1,1
1,10,68,[ 6],435.7,326.1,236,420,1,1
2,10,100,[ 2],248.5,303.0,348,391,1,1
3,10,136,[ 1],105.0,188.7,488,386,1,1
4,10,216,[ 2],55.7,194.4,652,402,1,1
...,...,...,...,...,...,...,...,...,...
17052,9,596,[ ],1100.6,702.6,13110,327,8,4
17053,9,218,[ 6],366.8,294.1,14056,424,8,4
17054,9,1206,[ 6],412.5,216.7,14318,324,8,4
17055,9,408,[ 6],385.9,211.0,15542,286,8,4
17056,9,308,[ 6],440.2,199.5,15980,297,8,4

In [240]:
#mla_fixations_deep.to_csv('mla_fixations_deep.csv', index = False)

In [241]:
#fixations
#mla for machine learning approach

mla_fixations = pd.read_excel(r'D:\Deakin\SIT724\Data Set\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\Fixation_report_09092019\fixation_finale.xlsx')
#mla_fixations = pd.read_excel(r'D:\TOTALE_Fixation_Report_FINALE_090919.xlsx')

In [242]:
mla_fixations = mla_fixations[['RECORDING_SESSION_LABEL','CURRENT_FIX_PUPIL','TRIAL_INDEX']]

In [243]:
#count of fixations by task by participant
mla_fixations_1 = mla_fixations.loc[mla_fixations['TRIAL_INDEX'] == 1]
mla_fixations_1 = mla_fixations_1.drop('TRIAL_INDEX', axis=1)
mla_fixations_2 = mla_fixations.loc[mla_fixations['TRIAL_INDEX'] == 2]
mla_fixations_2 = mla_fixations_2.drop('TRIAL_INDEX', axis=1)
mla_fixations_3 = mla_fixations.loc[mla_fixations['TRIAL_INDEX'] == 3]
mla_fixations_3 = mla_fixations_3.drop('TRIAL_INDEX', axis=1)
mla_fixations_4 = mla_fixations.loc[mla_fixations['TRIAL_INDEX'] == 4]
mla_fixations_4 = mla_fixations_4.drop('TRIAL_INDEX', axis=1)

In [244]:
#task 1
mla_fixations_1 = mla_fixations_1.groupby(['RECORDING_SESSION_LABEL']).count().reset_index()
mla_fixations_1['task']='1'
#task 2
mla_fixations_2 = mla_fixations_2.groupby(['RECORDING_SESSION_LABEL']).count().reset_index()
mla_fixations_2['task']='2'
#task 3
mla_fixations_3 = mla_fixations_3.groupby(['RECORDING_SESSION_LABEL']).count().reset_index()
mla_fixations_3['task']='3'
#task 4
mla_fixations_4 = mla_fixations_4.groupby(['RECORDING_SESSION_LABEL']).count().reset_index()
mla_fixations_4['task']='4'

In [245]:
mla_fixations_final = pd.concat([mla_fixations_1, mla_fixations_2,mla_fixations_3, mla_fixations_4 ], ignore_index=True)
#recording session label is the participant 
mla_fixations_final

     RECORDING_SESSION_LABEL  CURRENT_FIX_PUPIL task
0                          2                 77    1
1                          3                 82    1
2                          4                 44    1
3                          5                 99    1
4                          6                 92    1
..                       ...                ...  ...
251                       63                 27    4
252                       64                 55    4
253                       65                 42    4
254                       66                 68    4
255                       67                 40    4

[256 rows x 3 columns]

In [246]:
#gaze
#THERE IS SOME DATA LOSS WHEN SAVING TO XLSX FILE - UNABLE TO OPEN FULL FILE TO CONVERT

#the actual file is corrupt - can't open it as it is, and it is too large to open in excel and change file type - it loses some of the data at the bottom. This is as good as I can get it 
#mla_gaze = pd.read_excel(r'D:\Deakin\SIT724\Data Set\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\gaze\gaze_final\gaze_final.xlsx')

In [247]:
#2020_02_17 - updating as have manually added in all excel files one by one, rather than relying on full dataset above, will test if this makes a difference in results

path_gaze = 'D:\Deakin\SIT724\Data Set\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\gaze'
files_gaze = os.listdir(path_gaze)
files_gaze = [os.path.join(path_gaze, f) for f in files_gaze if f[-4:] == 'xlsx']
files_gaze

['D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze10.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze11.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze12.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze13.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze14.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze17.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze18.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze19.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze2.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze20.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze21.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze22.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze23.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze24.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze25.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze26.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze27.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze28.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze29.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze3.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze30.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze31.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze32.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze33.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze34.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze35.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze36.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze37.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze38.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze39.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze4.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze40.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze41.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze42.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze43.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze45.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze46.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze47.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze48.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze49.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze5.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze50.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze51.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze53.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze6.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze7.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze8.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze9.xlsx']

In [248]:
import re


mla_gaze = pd.DataFrame()

for f in files_gaze:
    data1 = pd.read_excel(f)
    file_name = os.path.basename(f)
    field_name = file_name.split(".xlsx")[0].split("\\")[-1]
    
    # Extract the numeric part from the field_name using regular expression
    match = re.search(r'\d+', field_name)
    if match:
        field_name = int(match.group())  # Convert the matched numeric part to an integer
    
    data1['RECORDING_SESSION_LABEL'] = field_name
    mla_gaze = pd.concat([mla_gaze, data1], ignore_index=True)

In [249]:
#left pupil
mla_gaze_left = mla_gaze
mla_gaze_left = mla_gaze_left[['RECORDING_SESSION_LABEL','LEFT_PUPIL_SIZE','TRIAL_INDEX']]

In [250]:
mla_gaze_left_1 = mla_gaze_left.loc[mla_gaze_left['TRIAL_INDEX'] == 1]
mla_gaze_left_1 = mla_gaze_left_1.drop('TRIAL_INDEX', axis=1)
mla_gaze_left_2 = mla_gaze_left.loc[mla_gaze_left['TRIAL_INDEX'] == 2]
mla_gaze_left_2 = mla_gaze_left_2.drop('TRIAL_INDEX', axis=1)
mla_gaze_left_3 = mla_gaze_left.loc[mla_gaze_left['TRIAL_INDEX'] == 3]
mla_gaze_left_3 = mla_gaze_left_3.drop('TRIAL_INDEX', axis=1)
mla_gaze_left_4 = mla_gaze_left.loc[mla_gaze_left['TRIAL_INDEX'] == 4]
mla_gaze_left_4 = mla_gaze_left_4.drop('TRIAL_INDEX', axis=1)

In [251]:
#drop the '.'
mla_gaze_left_1 = mla_gaze_left_1[mla_gaze_left_1.LEFT_PUPIL_SIZE != '.']
mla_gaze_left_2 = mla_gaze_left_2[mla_gaze_left_2.LEFT_PUPIL_SIZE != '.']
mla_gaze_left_3 = mla_gaze_left_3[mla_gaze_left_3.LEFT_PUPIL_SIZE != '.']
mla_gaze_left_4 = mla_gaze_left_4[mla_gaze_left_4.LEFT_PUPIL_SIZE != '.']

In [252]:
#convert to numeric to allow averaging 

mla_gaze_left_1['LEFT_PUPIL_SIZE'].astype(str).astype(int)
mla_gaze_left_2['LEFT_PUPIL_SIZE'].astype(str).astype(int)
mla_gaze_left_3['LEFT_PUPIL_SIZE'].astype(str).astype(int)
mla_gaze_left_4['LEFT_PUPIL_SIZE'].astype(str).astype(int)

43740      653
43741      653
43742      653
43743      653
43744      653
          ...
2045563    419
2045564    425
2045565    429
2045566    433
2045567    437
Name: LEFT_PUPIL_SIZE, Length: 225686, dtype: int32

In [253]:
#saving a copy for the deep learning model later

mla_gaze_left_deep_1=mla_gaze_left_1
mla_gaze_left_deep_2=mla_gaze_left_2
mla_gaze_left_deep_3=mla_gaze_left_3
mla_gaze_left_deep_4=mla_gaze_left_4


mla_gaze_left_deep_1['task']='1'
mla_gaze_left_deep_2['task']='2'
mla_gaze_left_deep_3['task']='3'
mla_gaze_left_deep_4['task']='4'


mla_left_deep = pd.concat([mla_gaze_left_deep_1, mla_gaze_left_deep_2,mla_gaze_left_deep_3, mla_gaze_left_deep_4 ], ignore_index=True)

In [254]:
#mla_gaze_left_1.groupby(['RECORDING_SESSION_LABEL']).mean()
mla_gaze_left_1 = mla_gaze_left_1.groupby('RECORDING_SESSION_LABEL').LEFT_PUPIL_SIZE.apply(np.mean).reset_index()
mla_gaze_left_1['task']='1'
mla_gaze_left_2 = mla_gaze_left_2.groupby('RECORDING_SESSION_LABEL').LEFT_PUPIL_SIZE.apply(np.mean).reset_index()
mla_gaze_left_2['task']='2'
mla_gaze_left_3 = mla_gaze_left_3.groupby('RECORDING_SESSION_LABEL').LEFT_PUPIL_SIZE.apply(np.mean).reset_index()
mla_gaze_left_3['task']='3'
mla_gaze_left_4 = mla_gaze_left_4.groupby('RECORDING_SESSION_LABEL').LEFT_PUPIL_SIZE.apply(np.mean).reset_index()
mla_gaze_left_4['task']='4'

In [255]:
mla_left_final = pd.concat([mla_gaze_left_1, mla_gaze_left_2,mla_gaze_left_3, mla_gaze_left_4 ], ignore_index=True)
#recording session label is the participant 
mla_left_final

    RECORDING_SESSION_LABEL  LEFT_PUPIL_SIZE task
0                         2       424.935445    1
1                         3       259.032210    1
2                         4       668.269783    1
3                         5       658.504626    1
4                        10       510.992782    1
..                      ...              ...  ...
95                       48       858.442500    4
96                       49       512.691436    4
97                       50       416.208165    4
98                       51       622.883084    4
99                       53       269.199712    4

[100 rows x 3 columns]

In [256]:
#right pupil
mla_gaze_right = mla_gaze
mla_gaze_right = mla_gaze_right[['RECORDING_SESSION_LABEL','RIGHT_PUPIL_SIZE','TRIAL_INDEX']]

In [257]:
mla_gaze_right_1 = mla_gaze_right.loc[mla_gaze_right['TRIAL_INDEX'] == 1]
mla_gaze_right_1 = mla_gaze_right_1.drop('TRIAL_INDEX', axis=1)
mla_gaze_right_2 = mla_gaze_right.loc[mla_gaze_right['TRIAL_INDEX'] == 2]
mla_gaze_right_2 = mla_gaze_right_2.drop('TRIAL_INDEX', axis=1)
mla_gaze_right_3 = mla_gaze_right.loc[mla_gaze_right['TRIAL_INDEX'] == 3]
mla_gaze_right_3 = mla_gaze_right_3.drop('TRIAL_INDEX', axis=1)
mla_gaze_right_4 = mla_gaze_right.loc[mla_gaze_right['TRIAL_INDEX'] == 4]
mla_gaze_right_4 = mla_gaze_right_4.drop('TRIAL_INDEX', axis=1)

In [258]:
#drop the '.'
mla_gaze_right_1 = mla_gaze_right_1[mla_gaze_right_1.RIGHT_PUPIL_SIZE != '.']
mla_gaze_right_2 = mla_gaze_right_2[mla_gaze_right_2.RIGHT_PUPIL_SIZE != '.']
mla_gaze_right_3 = mla_gaze_right_3[mla_gaze_right_3.RIGHT_PUPIL_SIZE != '.']
mla_gaze_right_4 = mla_gaze_right_4[mla_gaze_right_4.RIGHT_PUPIL_SIZE != '.']

In [259]:
#convert to numeric to allow averaging 

mla_gaze_right_1['RIGHT_PUPIL_SIZE'].astype(str).astype(int)
mla_gaze_right_2['RIGHT_PUPIL_SIZE'].astype(str).astype(int)
mla_gaze_right_3['RIGHT_PUPIL_SIZE'].astype(str).astype(int)
mla_gaze_right_4['RIGHT_PUPIL_SIZE'].astype(str).astype(int)

81303      367
81304      367
81305      367
81306      367
81307      367
          ...
2236338    301
2236339    300
2236340    299
2236341    299
2236342    298
Name: RIGHT_PUPIL_SIZE, Length: 214494, dtype: int32

In [260]:
#saving a copy for the deep learning model later 

mla_gaze_right_deep_1=mla_gaze_right_1
mla_gaze_right_deep_2=mla_gaze_right_2
mla_gaze_right_deep_3=mla_gaze_right_3
mla_gaze_right_deep_4=mla_gaze_right_4


mla_gaze_right_deep_1['task']='1'
mla_gaze_right_deep_2['task']='2'
mla_gaze_right_deep_3['task']='3'
mla_gaze_right_deep_4['task']='4'

mla_right_deep = pd.concat([mla_gaze_right_deep_1, mla_gaze_right_deep_2,mla_gaze_right_deep_3, mla_gaze_right_deep_4 ], ignore_index=True)

In [261]:
mla_gaze_right_1 = mla_gaze_right_1.groupby('RECORDING_SESSION_LABEL').RIGHT_PUPIL_SIZE.apply(np.mean).reset_index()
mla_gaze_right_1['task']='1'
mla_gaze_right_2 = mla_gaze_right_2.groupby('RECORDING_SESSION_LABEL').RIGHT_PUPIL_SIZE.apply(np.mean).reset_index()
mla_gaze_right_2['task']='2'
mla_gaze_right_3 = mla_gaze_right_3.groupby('RECORDING_SESSION_LABEL').RIGHT_PUPIL_SIZE.apply(np.mean).reset_index()
mla_gaze_right_3['task']='3'
mla_gaze_right_4 = mla_gaze_right_4.groupby('RECORDING_SESSION_LABEL').RIGHT_PUPIL_SIZE.apply(np.mean).reset_index()
mla_gaze_right_4['task']='4'

In [262]:
mla_right_final = pd.concat([mla_gaze_right_1, mla_gaze_right_2,mla_gaze_right_3, mla_gaze_right_4 ], ignore_index=True)
#recording session label is the participant 
mla_right_final

    RECORDING_SESSION_LABEL  RIGHT_PUPIL_SIZE task
0                         6        564.562006    1
1                         7        642.140095    1
2                         8        441.799969    1
3                         9        298.416079    1
4                        11        316.081529    1
..                      ...               ...  ...
87                       27        474.180979    4
88                       29        295.598046    4
89                       32        263.354599    4
90                       34        544.877463    4
91                       37        503.295753    4

[92 rows x 3 columns]

In [263]:
mla_gaze_final = mla_right_final.merge(mla_left_final, how='outer', left_on=['RECORDING_SESSION_LABEL', 'task'], right_on=['RECORDING_SESSION_LABEL', 'task'])
mla_gaze_final

     RECORDING_SESSION_LABEL  RIGHT_PUPIL_SIZE task  LEFT_PUPIL_SIZE
0                          2               NaN    1       424.935445
1                          2               NaN    2       377.207910
2                          2               NaN    3       359.925293
3                          2               NaN    4       304.324741
4                          3               NaN    1       259.032210
..                       ...               ...  ...              ...
187                       51               NaN    4       622.883084
188                       53               NaN    1       302.208136
189                       53               NaN    2       242.079328
190                       53               NaN    3       263.144879
191                       53               NaN    4       269.199712

[192 rows x 4 columns]

# MLA GAZE DEEP

In [264]:
#2020_02_17 - updating as have manually added in all excel files one by one, rather than relying on full dataset above, will test if this makes a difference in results

path_gaze = 'D:\Deakin\SIT724\Data Set\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\gaze'
files_gaze = os.listdir(path_gaze)
files_gaze = [os.path.join(path_gaze, f) for f in files_gaze if f[-4:] == 'xlsx']
files_gaze

['D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze10.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze11.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze12.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze13.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze14.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze17.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze18.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze19.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze2.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze20.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze21.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze22.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze23.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze24.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze25.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze26.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze27.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze28.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze29.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze3.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze30.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze31.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze32.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze33.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze34.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze35.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze36.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze37.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze38.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze39.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze4.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze40.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze41.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze42.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze43.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze45.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze46.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze47.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze48.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze49.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze5.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze50.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze51.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze53.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze6.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze7.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze8.xlsx',
 'D:\\Deakin\\SIT724\\Data Set\\A Machine Learning Approach for Detecting Cognitive Interference Based on Eye-Tracking Data\\gaze\\gaze9.xlsx']

In [265]:
import re


mla_gaze = pd.DataFrame()

for f in files_gaze:
    data1 = pd.read_excel(f)
    file_name = os.path.basename(f)
    field_name = file_name.split(".xlsx")[0].split("\\")[-1]
    
    # Extract the numeric part from the field_name using regular expression
    match = re.search(r'\d+', field_name)
    if match:
        field_name = int(match.group())  # Convert the matched numeric part to an integer
    
    data1['RECORDING_SESSION_LABEL'] = field_name
    mla_gaze = pd.concat([mla_gaze, data1], ignore_index=True)

In [266]:
mla_gaze.drop('image', axis = 1, inplace = True)

In [267]:
mla_gaze

,RECORDING_SESSION_LABEL,TRIAL_INDEX,experiment,TIMESTAMP,AVERAGE_GAZE_X,AVERAGE_GAZE_Y,AVERAGE_ACCELERATION_X,AVERAGE_ACCELERATION_Y,AVERAGE_VELOCITY_X,AVERAGE_VELOCITY_Y,EYE_TRACKED,LEFT_PUPIL_SIZE,RIGHT_PUPIL_SIZE
0,10,1,1,454542,518.8,407.6,.,.,.,.,Left,414,.
1,10,1,1,454544,519,407.6,.,.,.,.,Left,414,.
2,10,1,1,454546,519.1,407.6,.,.,.,.,Left,414,.
3,10,1,1,454548,519.2,407.5,.,.,.,.,Left,414,.
4,10,1,1,454550,519.4,407.5,-97.88,195.91,1.33,0.94,Left,414,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2236338,9,4,8,19359412,440.8,210.4,-222.19,-278.99,-2.85,-3.63,Right,.,301
2236339,9,4,8,19359414,440.6,210.2,.,.,.,.,Right,.,300
2236340,9,4,8,19359416,440.4,209.6,.,.,.,.,Right,.,299
2236341,9,4,8,19359418,440.2,209.2,.,.,.,.,Right,.,299
2236342,9,4,8,19359420,439.9,209.2,.,.,.,.,Right,.,298

In [268]:
mla_gaze_deep = mla_gaze

In [269]:
#mla_gaze.to_csv('mla_gaze_deep.csv', index = False)

# MLA DEEP SACCCADES

In [270]:
#saccades
#again, python thinks the files are corrupt, refuses to even open theem. Have had to manually change them to excel files - only done a few now as a test
#have had to do them as csv or it gets picked up automatically earlier on

files_csv = [f for f in files if f[-3:] == 'csv']
files_csv

['10.csv',
 '11.csv',
 '12.csv',
 '13.csv',
 '14.csv',
 '15.csv',
 '16.csv',
 '17.csv',
 '2.csv',
 '20.csv',
 '21.csv',
 '22.csv',
 '23.csv',
 '24.csv',
 '25.csv',
 '26.csv',
 '27.csv',
 '28.csv',
 '29.csv',
 '3.csv',
 '30.csv',
 '31.csv',
 '32.csv',
 '33.csv',
 '34.csv',
 '35.csv',
 '36.csv',
 '37.csv',
 '38.csv',
 '39.csv',
 '4.csv',
 '40.csv',
 '41.csv',
 '42.csv',
 '43.csv',
 '44.csv',
 '45.csv',
 '46.csv',
 '47.csv',
 '48.csv',
 '49.csv',
 '5.csv',
 '50.csv',
 '51.csv',
 '52.csv',
 '53.csv',
 '54.csv',
 '55.csv',
 '56.csv',
 '57.csv',
 '58.csv',
 '59.csv',
 '6.csv',
 '60.csv',
 '61.csv',
 '62.csv',
 '63.csv',
 '64.csv',
 '65.csv',
 '66.csv',
 '67.csv',
 '68.csv',
 '69.csv',
 '7.csv',
 '8.csv',
 '9.csv']

In [271]:
mla_sacc = pd.DataFrame()  

for f in files_csv:
    data1 = pd.read_csv(f)
    data1['RECORDING_SESSION_LABEL'] = f[:-4]
    mla_sacc = pd.concat([mla_sacc, data1], ignore_index=True)

In [272]:
mla_sacc['task']=mla_sacc['Trial_Index_']

In [273]:
mla_sacc_d = mla_sacc
mla_sacc_d

,experiment,image,item,Trial_Index_,CURRENT_SAC_START_X,CURRENT_SAC_START_Y,CURRENT_SAC_END_X,CURRENT_SAC_END_Y,CURRENT_SAC_ANGLE,CURRENT_SAC_AMPLITUDE,...,CURRENT_SAC_DURATION,CURRENT_SAC_INDEX,CURRENT_SAC_END_INTEREST_AREAS,CURRENT_SAC_END_INTEREST_AREA_ID,EYE_USED,CURRENT_SAC_BLINK_DURATION,CURRENT_SAC_BLINK_END,CURRENT_SAC_BLINK_START,RECORDING_SESSION_LABEL,task
0,1,NamingWITHinterference.jpg,1,1,519.2,412.2,434.6,322.4,141.42,3.39,...,36,1,[ 6],6,LEFT,.,.,.,10,1
1,1,NamingWITHinterference.jpg,1,1,434.3,323.6,249.2,303.8,175.39,5.79,...,44,2,[ 2],2,LEFT,.,.,.,10,1
2,1,NamingWITHinterference.jpg,1,1,248.3,303.6,108.1,185.0,147.28,5.1,...,40,3,[ 1],1,LEFT,.,.,.,10,1
3,1,NamingWITHinterference.jpg,1,1,104.1,191.0,52.8,192.2,-178.97,1.54,...,28,4,[ 2],2,LEFT,.,.,.,10,1
4,1,NamingWITHinterference.jpg,1,1,58.8,195.2,176.5,173.3,8.07,3.6,...,36,5,[ 1],1,LEFT,.,.,.,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17407,8,NamingWITHinterference.jpg,32,4,538.4,542.0,1108.5,688.6,-10.95,19.32,...,220,39,[ ],.,RIGHT,.,.,.,9,4
17408,8,NamingWITHinterference.jpg,32,4,1087.7,692.1,367.7,235.8,154.31,26.68,...,350,40,[ 6],6,RIGHT,232,13996,13766,9,4
17409,8,NamingWITHinterference.jpg,32,4,372.8,317.2,413.4,207.2,63.94,3.25,...,44,41,[ 6],6,RIGHT,.,.,.,9,4
17410,8,NamingWITHinterference.jpg,32,4,406.0,222.5,389.0,210.7,152.29,0.68,...,18,42,[ 6],6,RIGHT,.,.,.,9,4
17411,8,NamingWITHinterference.jpg,32,4,385.8,211.9,444.3,196.9,10.96,2.11,...,30,43,[ 6],6,RIGHT,.,.,.,9,4

In [274]:
#mla_sacc.to_csv('mla_sacc_deep.csv', index = False)

In [275]:
#blinks length
mla_blink_len = mla_sacc
mla_blink_len = mla_sacc[['RECORDING_SESSION_LABEL','CURRENT_SAC_BLINK_DURATION','Trial_Index_']]

In [276]:
mla_blink_len_1 = mla_blink_len.loc[mla_blink_len['Trial_Index_'] == 1]
mla_blink_len_1 = mla_blink_len_1.drop('Trial_Index_', axis=1)
mla_blink_len_2 = mla_blink_len.loc[mla_blink_len['Trial_Index_'] == 2]
mla_blink_len_2 = mla_blink_len_2.drop('Trial_Index_', axis=1)
mla_blink_len_3 = mla_blink_len.loc[mla_blink_len['Trial_Index_'] == 3]
mla_blink_len_3 = mla_blink_len_3.drop('Trial_Index_', axis=1)
mla_blink_len_4 = mla_blink_len.loc[mla_blink_len['Trial_Index_'] == 4]
mla_blink_len_4 = mla_blink_len_4.drop('Trial_Index_', axis=1)

In [277]:
#drop the '.'
mla_blink_len_1 = mla_blink_len_1[mla_blink_len_1.CURRENT_SAC_BLINK_DURATION != '.']
mla_blink_len_2 = mla_blink_len_2[mla_blink_len_2.CURRENT_SAC_BLINK_DURATION != '.']
mla_blink_len_3 = mla_blink_len_3[mla_blink_len_3.CURRENT_SAC_BLINK_DURATION != '.']
mla_blink_len_4 = mla_blink_len_4[mla_blink_len_4.CURRENT_SAC_BLINK_DURATION != '.']

In [278]:
#convert to numeric to allow averaging 

mla_blink_len_1['CURRENT_SAC_BLINK_DURATION'].astype(str).astype(int)
mla_blink_len_2['CURRENT_SAC_BLINK_DURATION'].astype(str).astype(int)
mla_blink_len_3['CURRENT_SAC_BLINK_DURATION'].astype(str).astype(int)
mla_blink_len_4['CURRENT_SAC_BLINK_DURATION'].astype(str).astype(int)

301       42
527       22
528       48
752       28
777       46
        ...
17380     42
17382    396
17383     82
17395     52
17408    232
Name: CURRENT_SAC_BLINK_DURATION, Length: 276, dtype: int32

In [279]:
#saving a copy for the deep learning model later
mla_blink_1_deep = mla_blink_len_1
mla_blink_1_deep['task'] = 1
mla_blink_2_deep = mla_blink_len_2
mla_blink_2_deep['task'] = 2
mla_blink_3_deep = mla_blink_len_3
mla_blink_3_deep['task'] = 3
mla_blink_4_deep = mla_blink_len_4
mla_blink_4_deep['task'] = 4


mla_blink_len_deep= pd.concat([mla_blink_len_1, mla_blink_len_2,mla_blink_len_3, mla_blink_len_4 ], ignore_index=True)

In [280]:
#AVG

# For task 1
mla_blink_len_1 = mla_blink_len_1[mla_blink_len_1['CURRENT_SAC_BLINK_DURATION'].apply(lambda x: str(x).isdigit())]
mla_blink_len_1['CURRENT_SAC_BLINK_DURATION'] = pd.to_numeric(mla_blink_len_1['CURRENT_SAC_BLINK_DURATION'])
mla_blink_len_1 = mla_blink_len_1.groupby('RECORDING_SESSION_LABEL')['CURRENT_SAC_BLINK_DURATION'].mean().reset_index()
mla_blink_len_1['task'] = '1'

# Repeat the same steps for other tasks (2, 3, 4)
mla_blink_len_2 = mla_blink_len_2[mla_blink_len_2['CURRENT_SAC_BLINK_DURATION'].apply(lambda x: str(x).isdigit())]
mla_blink_len_2['CURRENT_SAC_BLINK_DURATION'] = pd.to_numeric(mla_blink_len_2['CURRENT_SAC_BLINK_DURATION'])
mla_blink_len_2 = mla_blink_len_2.groupby('RECORDING_SESSION_LABEL')['CURRENT_SAC_BLINK_DURATION'].mean().reset_index()
mla_blink_len_2['task'] = '2'

mla_blink_len_3 = mla_blink_len_3[mla_blink_len_3['CURRENT_SAC_BLINK_DURATION'].apply(lambda x: str(x).isdigit())]
mla_blink_len_3['CURRENT_SAC_BLINK_DURATION'] = pd.to_numeric(mla_blink_len_3['CURRENT_SAC_BLINK_DURATION'])
mla_blink_len_3 = mla_blink_len_3.groupby('RECORDING_SESSION_LABEL')['CURRENT_SAC_BLINK_DURATION'].mean().reset_index()
mla_blink_len_3['task'] = '3'

mla_blink_len_4 = mla_blink_len_4[mla_blink_len_4['CURRENT_SAC_BLINK_DURATION'].apply(lambda x: str(x).isdigit())]
mla_blink_len_4['CURRENT_SAC_BLINK_DURATION'] = pd.to_numeric(mla_blink_len_4['CURRENT_SAC_BLINK_DURATION'])
mla_blink_len_4 = mla_blink_len_4.groupby('RECORDING_SESSION_LABEL')['CURRENT_SAC_BLINK_DURATION'].mean().reset_index()
mla_blink_len_4['task'] = '4'

In [281]:
mla_blink_len_final = pd.concat([mla_blink_len_1, mla_blink_len_2,mla_blink_len_3, mla_blink_len_4 ], ignore_index=True)
#recording session label is the participant 
mla_blink_len_final

    RECORDING_SESSION_LABEL  CURRENT_SAC_BLINK_DURATION task
0                        10                  215.272727    1
1                        11                   41.200000    1
2                        12                   36.000000    1
3                        13                   50.000000    1
4                        14                  114.600000    1
..                      ...                         ...  ...
240                      68                   72.000000    4
241                      69                   79.000000    4
242                       7                   82.000000    4
243                       8                  424.000000    4
244                       9                  160.800000    4

[245 rows x 3 columns]

In [282]:
#blinks
mla_blink = mla_sacc
mla_blink = mla_sacc[['RECORDING_SESSION_LABEL','CURRENT_SAC_BLINK_END','Trial_Index_']]

In [283]:
mla_blink_1 = mla_blink.loc[mla_blink['Trial_Index_'] == 1]
mla_blink_1 = mla_blink_1.drop('Trial_Index_', axis=1)
mla_blink_2 = mla_blink.loc[mla_blink['Trial_Index_'] == 2]
mla_blink_2 = mla_blink_2.drop('Trial_Index_', axis=1)
mla_blink_3 = mla_blink.loc[mla_blink['Trial_Index_'] == 3]
mla_blink_3 = mla_blink_3.drop('Trial_Index_', axis=1)
mla_blink_4 = mla_blink.loc[mla_blink['Trial_Index_'] == 4]
mla_blink_4 = mla_blink_4.drop('Trial_Index_', axis=1)

In [284]:
#drop the '.'
mla_blink_1 = mla_blink_1[mla_blink_1.CURRENT_SAC_BLINK_END != '.']
mla_blink_2 = mla_blink_2[mla_blink_2.CURRENT_SAC_BLINK_END != '.']
mla_blink_3 = mla_blink_3[mla_blink_3.CURRENT_SAC_BLINK_END != '.']
mla_blink_4 = mla_blink_4[mla_blink_4.CURRENT_SAC_BLINK_END != '.']

In [285]:
#counts of blinks 
#task 1
mla_blink_1 = mla_blink_1.groupby(['RECORDING_SESSION_LABEL']).count().reset_index()
mla_blink_1['task']='1'
#task 2
mla_blink_2 = mla_blink_2.groupby(['RECORDING_SESSION_LABEL']).count().reset_index()
mla_blink_2['task']='2'
#task 3
mla_blink_3 = mla_blink_3.groupby(['RECORDING_SESSION_LABEL']).count().reset_index()
mla_blink_3['task']='3'
#task 4
mla_blink_4 = mla_blink_4.groupby(['RECORDING_SESSION_LABEL']).count().reset_index()
mla_blink_4['task']='4'

In [286]:
mla_blink_final = pd.concat([mla_blink_1, mla_blink_2,mla_blink_3, mla_blink_4 ], ignore_index=True)
#recording session label is the participant 
mla_blink_final

    RECORDING_SESSION_LABEL  CURRENT_SAC_BLINK_END task
0                        10                     11    1
1                        11                      5    1
2                        12                      1    1
3                        13                      1    1
4                        14                     10    1
..                      ...                    ...  ...
240                      68                      1    4
241                      69                      4    4
242                       7                      7    4
243                       8                      5    4
244                       9                      5    4

[245 rows x 3 columns]

In [287]:
#saving a copy for the deep learning model later on
mla_sacc_1_deep = mla_sacc_1
mla_sacc_1_deep['task'] = 1
mla_sacc_2_deep = mla_sacc_2
mla_sacc_2_deep['task'] = 2
mla_sacc_3_deep = mla_sacc_3
mla_sacc_3_deep['task'] = 3
mla_sacc_4_deep = mla_sacc_4
mla_sacc_4_deep['task'] = 4

mla_sacc_deep = pd.concat([mla_sacc_1_deep, mla_sacc_2_deep,mla_sacc_3_deep, mla_sacc_4_deep ], ignore_index=True)

NameError: name 'mla_sacc_1' is not defined

In [ ]:
mla_sacc = mla_sacc[['RECORDING_SESSION_LABEL','CURRENT_SAC_DURATION','Trial_Index_']]

In [ ]:
#count of saccades by task by participant

mla_sacc_1 = mla_sacc.loc[mla_sacc['Trial_Index_'] == 1]
mla_sacc_1 = mla_sacc_1.drop('Trial_Index_', axis=1)
mla_sacc_2 = mla_sacc.loc[mla_sacc['Trial_Index_'] == 2]
mla_sacc_2 = mla_sacc_2.drop('Trial_Index_', axis=1)
mla_sacc_3 = mla_sacc.loc[mla_sacc['Trial_Index_'] == 3]
mla_sacc_3 = mla_sacc_3.drop('Trial_Index_', axis=1)
mla_sacc_4 = mla_sacc.loc[mla_sacc['Trial_Index_'] == 4]
mla_sacc_4 = mla_sacc_4.drop('Trial_Index_', axis=1)

In [ ]:
#counts of saccades
#task 1
mla_sacc_1 = mla_sacc_1.groupby(['RECORDING_SESSION_LABEL']).count().reset_index()
mla_sacc_1['task']='1'
#task 2
mla_sacc_2 = mla_sacc_2.groupby(['RECORDING_SESSION_LABEL']).count().reset_index()
mla_sacc_2['task']='2'
#task 3
mla_sacc_3 = mla_sacc_3.groupby(['RECORDING_SESSION_LABEL']).count().reset_index()
mla_sacc_3['task']='3'
#task 4
mla_sacc_4 = mla_sacc_4.groupby(['RECORDING_SESSION_LABEL']).count().reset_index()
mla_sacc_4['task']='4'

In [ ]:
mla_sacc_final = pd.concat([mla_sacc_1, mla_sacc_2,mla_sacc_3, mla_sacc_4 ], ignore_index=True)
#recording session label is the participant 
mla_sacc_final

In [ ]:
#join everything together into one dataframe

In [ ]:
mla_sacc_final['RECORDING_SESSION_LABEL']=mla_sacc_final['RECORDING_SESSION_LABEL'].astype(int)
mla_blink_final['RECORDING_SESSION_LABEL']=mla_blink_final['RECORDING_SESSION_LABEL'].astype(int)

In [ ]:
mla_gaze_final.dtypes

In [ ]:
mla_blink_len_final.dtypes

In [ ]:
mla_blink_len_final['RECORDING_SESSION_LABEL']=mla_sacc_final['RECORDING_SESSION_LABEL'].astype(int)
mla_blink_len_final['RECORDING_SESSION_LABEL']=mla_blink_final['RECORDING_SESSION_LABEL'].astype(int)

In [ ]:
final1 = mla_sacc_final.merge(mla_blink_final, how='outer', left_on=['RECORDING_SESSION_LABEL', 'task'], right_on=['RECORDING_SESSION_LABEL', 'task'])
final2 = final1.merge(mla_gaze_final, how='outer', left_on=['RECORDING_SESSION_LABEL', 'task'], right_on=['RECORDING_SESSION_LABEL', 'task'])
final3 = final2.merge(mla_blink_len_final, how='outer', left_on=['RECORDING_SESSION_LABEL', 'task'], right_on=['RECORDING_SESSION_LABEL', 'task'])
mla_final_test = final3

In [ ]:
mla_final_test

In [ ]:
#combining left and right together after discussions on 13/12/2022

test = mla_final_test['RIGHT_PUPIL_SIZE'].fillna(mla_final_test['LEFT_PUPIL_SIZE'])
#.combine_first(df.ColC)

In [ ]:
final = pd.merge(mla_final_test, test, left_index=True, right_index=True)

In [ ]:
#drop additional columns

final.drop(['RIGHT_PUPIL_SIZE_x', 'LEFT_PUPIL_SIZE'], axis =1, inplace = True)

In [ ]:
final

In [ ]:
#concatenate right and left
mla_pup_deep = pd.concat([mla_right_deep, mla_left_deep])

In [ ]:
#fill the missing values in left with right
mla_pup_deep['RIGHT_PUPIL_SIZE'].fillna(mla_pup_deep['LEFT_PUPIL_SIZE'], inplace=True)

#drop the left column

In [ ]:
mla_pup_deep.drop('LEFT_PUPIL_SIZE', axis=1, inplace=True)

In [ ]:
mla_sacc_deep

In [ ]:
mla_pup_deep

In [ ]:
# List of dataframes to be merged
dataframes = [gaze_concat, pupil_concat, blink_concat]

# Drop 20% of each dataframe by 'file' and 'task'
for df in dataframes:
    unique_files_tasks = df[['file', 'task']].drop_duplicates()
    files_tasks_to_drop = unique_files_tasks.sample(frac=0.3, random_state=42)
    filter_condition = ~df.set_index(['recording_session_label', 'task']).index.isin(files_tasks_to_drop.set_index(['file', 'task']).index)
    df.drop(df[filter_condition].index, inplace=True)

In [288]:
mla_gaze_deep = mla_gaze_deep.rename(columns={'TRIAL_INDEX': 'task'})

In [289]:
mla_sacc_d.dropna()

,experiment,image,item,Trial_Index_,CURRENT_SAC_START_X,CURRENT_SAC_START_Y,CURRENT_SAC_END_X,CURRENT_SAC_END_Y,CURRENT_SAC_ANGLE,CURRENT_SAC_AMPLITUDE,...,CURRENT_SAC_DURATION,CURRENT_SAC_INDEX,CURRENT_SAC_END_INTEREST_AREAS,CURRENT_SAC_END_INTEREST_AREA_ID,EYE_USED,CURRENT_SAC_BLINK_DURATION,CURRENT_SAC_BLINK_END,CURRENT_SAC_BLINK_START,RECORDING_SESSION_LABEL,task
0,1,NamingWITHinterference.jpg,1,1,519.2,412.2,434.6,322.4,141.42,3.39,...,36,1,[ 6],6,LEFT,.,.,.,10,1
1,1,NamingWITHinterference.jpg,1,1,434.3,323.6,249.2,303.8,175.39,5.79,...,44,2,[ 2],2,LEFT,.,.,.,10,1
2,1,NamingWITHinterference.jpg,1,1,248.3,303.6,108.1,185.0,147.28,5.1,...,40,3,[ 1],1,LEFT,.,.,.,10,1
3,1,NamingWITHinterference.jpg,1,1,104.1,191.0,52.8,192.2,-178.97,1.54,...,28,4,[ 2],2,LEFT,.,.,.,10,1
4,1,NamingWITHinterference.jpg,1,1,58.8,195.2,176.5,173.3,8.07,3.6,...,36,5,[ 1],1,LEFT,.,.,.,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17407,8,NamingWITHinterference.jpg,32,4,538.4,542.0,1108.5,688.6,-10.95,19.32,...,220,39,[ ],.,RIGHT,.,.,.,9,4
17408,8,NamingWITHinterference.jpg,32,4,1087.7,692.1,367.7,235.8,154.31,26.68,...,350,40,[ 6],6,RIGHT,232,13996,13766,9,4
17409,8,NamingWITHinterference.jpg,32,4,372.8,317.2,413.4,207.2,63.94,3.25,...,44,41,[ 6],6,RIGHT,.,.,.,9,4
17410,8,NamingWITHinterference.jpg,32,4,406.0,222.5,389.0,210.7,152.29,0.68,...,18,42,[ 6],6,RIGHT,.,.,.,9,4
17411,8,NamingWITHinterference.jpg,32,4,385.8,211.9,444.3,196.9,10.96,2.11,...,30,43,[ 6],6,RIGHT,.,.,.,9,4

In [290]:
mla_gaze_deep.dropna()

,RECORDING_SESSION_LABEL,task,experiment,TIMESTAMP,AVERAGE_GAZE_X,AVERAGE_GAZE_Y,AVERAGE_ACCELERATION_X,AVERAGE_ACCELERATION_Y,AVERAGE_VELOCITY_X,AVERAGE_VELOCITY_Y,EYE_TRACKED,LEFT_PUPIL_SIZE,RIGHT_PUPIL_SIZE
0,10,1,1,454542,518.8,407.6,.,.,.,.,Left,414,.
1,10,1,1,454544,519,407.6,.,.,.,.,Left,414,.
2,10,1,1,454546,519.1,407.6,.,.,.,.,Left,414,.
3,10,1,1,454548,519.2,407.5,.,.,.,.,Left,414,.
4,10,1,1,454550,519.4,407.5,-97.88,195.91,1.33,0.94,Left,414,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2236338,9,4,8,19359412,440.8,210.4,-222.19,-278.99,-2.85,-3.63,Right,.,301
2236339,9,4,8,19359414,440.6,210.2,.,.,.,.,Right,.,300
2236340,9,4,8,19359416,440.4,209.6,.,.,.,.,Right,.,299
2236341,9,4,8,19359418,440.2,209.2,.,.,.,.,Right,.,299
2236342,9,4,8,19359420,439.9,209.2,.,.,.,.,Right,.,298

In [291]:
mla_fixations_deep['task'] = mla_fixations_deep['task'].astype('int64')

In [292]:
mla_fixations_deep.dropna()

,RECORDING_SESSION_LABEL,CURRENT_FIX_DURATION,CURRENT_FIX_INTEREST_AREAS,CURRENT_FIX_X,CURRENT_FIX_Y,CURRENT_FIX_START,CURRENT_FIX_PUPIL,experiment,task
0,10,190,[ 11],519.5,410.2,10,423,1,1
1,10,68,[ 6],435.7,326.1,236,420,1,1
2,10,100,[ 2],248.5,303.0,348,391,1,1
3,10,136,[ 1],105.0,188.7,488,386,1,1
4,10,216,[ 2],55.7,194.4,652,402,1,1
...,...,...,...,...,...,...,...,...,...
17052,9,596,[ ],1100.6,702.6,13110,327,8,4
17053,9,218,[ 6],366.8,294.1,14056,424,8,4
17054,9,1206,[ 6],412.5,216.7,14318,324,8,4
17055,9,408,[ 6],385.9,211.0,15542,286,8,4
17056,9,308,[ 6],440.2,199.5,15980,297,8,4

In [297]:
#MLA deep learing data

#joining the pupil data together
#mla_pupil_deep = mla_right_deep['RIGHT_PUPIL_SIZE'].fillna(mla_left_deep ['LEFT_PUPIL_SIZE'])

# List of dataframes to be merged
dataframes = [mla_fixations_deep, mla_gaze_deep, mla_sacc_d]

# Split the dataframes into smaller subsets
chunk_size = 2  
chunks = [dataframes[i:i + chunk_size] for i in range(0, len(dataframes), chunk_size)]

# Merge the dataframes iteratively
merged_chunks = []
for chunk in chunks:
    merged_chunk = chunk[0]
    for df in chunk[1:]:
        merged_chunk = pd.merge(merged_chunk, df, on=['RECORDING_SESSION_LABEL', 'task'], how='outer', suffixes=('_left', '_right'))
    merged_chunks.append(merged_chunk)

# Concatenate the merged chunks
deep_data_mla = pd.concat(merged_chunks)

# Merge with annot_concat separately
#deep_data_mla = pd.merge(deep_data_mla, annot_concat, on=['RECORDING_SESSION_LABEL', 'task'], how='left', suffixes=('_merged', '_annot'))

In [299]:
deep_data_mla.describe()

,CURRENT_FIX_DURATION,CURRENT_FIX_X,CURRENT_FIX_Y,CURRENT_FIX_START,CURRENT_FIX_PUPIL,experiment_left,task,experiment_right,TIMESTAMP,experiment,item,Trial_Index_,CURRENT_SAC_DURATION,CURRENT_SAC_INDEX
count,354759.000000,354759.000000,354759.000000,354759.000000,354759.000000,354759.000000,470899.000000,468939.000000,4.689390e+05,981.000000,981.00000,981.000000,981.000000,981.000000
mean,232.564349,487.816257,312.818487,6597.560124,562.072553,4.998371,3.589203,4.819279,1.040409e+07,3.853211,13.98369,2.570846,62.689093,33.823649
std,157.245645,273.293598,210.519020,4305.999059,50.463924,0.140801,0.806210,0.884956,4.209369e+06,1.715732,6.80664,1.012335,78.487060,23.054383
min,22.000000,-23.500000,4.000000,10.000000,28.000000,1.000000,1.000000,1.000000,4.392040e+05,1.000000,3.00000,1.000000,16.000000,1.000000
25%,138.000000,239.500000,153.600000,2538.000000,533.000000,5.000000,4.000000,5.000000,1.199960e+07,3.000000,9.00000,2.000000,30.000000,16.000000
50%,202.000000,466.600000,265.700000,6642.000000,561.000000,5.000000,4.000000,5.000000,1.200439e+07,3.000000,12.00000,3.000000,46.000000,31.000000
75%,292.000000,691.800000,462.900000,10418.000000,586.000000,5.000000,4.000000,5.000000,1.200917e+07,5.000000,19.00000,3.000000,60.000000,46.000000
max,1518.000000,1500.700000,1472.100000,37764.000000,1011.000000,8.000000,4.000000,7.000000,2.099700e+07,8.000000,30.00000,4.000000,1484.000000,112.000000

In [300]:
deep_data_mla.to_csv('mla_deep_data.csv', index = False)

In [296]:
# List of dataframes to be merged
dataframes = [mla_fixations_deep, mla_gaze_deep, mla_sacc_d]

# Drop 20% of each dataframe by 'file' and 'task'
for df in dataframes:
    unique_files_tasks = df[['RECORDING_SESSION_LABEL', 'task']].drop_duplicates()
    files_tasks_to_drop = unique_files_tasks.sample(frac=0.2, random_state=42)
    filter_condition = ~df.set_index(['RECORDING_SESSION_LABEL', 'task']).index.isin(files_tasks_to_drop.set_index(['RECORDING_SESSION_LABEL', 'task']).index)
    df.drop(df[filter_condition].index, inplace=True)